
@{ 
    var userData =User.GetUserData<AdministratorAuthSignModel>();
}
<!DOCTYPE html>
<html lang="ar-eg" dir="rtl">
<head>
    <meta name="description" content="fast do administaration panel">
    <meta property="twitter:site" content="https://www.backend.fastdo/adminpanel">
    <meta property="twitter:creator" content="mohamed  khaled soliman">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="fastdo control panel">
    <meta property="og:title" content="لوحة تحكم فاست دو">
    <meta property="og:url" content="https://www.backend.fastdo/adminpanel">

    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/AdminRtl/favicon.ico" />
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/AdminRtl/css/main.css">
    <!-- Font-icon css-->

</head>
<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <a class="app-header__logo" href="/adminpanel">فاست دو</a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <!--Notification Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
                <partial name="TechSupportNotification" />
            </li>
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item d-none" href="/AdminPanel/Auth/Settings"><i class="fa fa-cog fa-lg"></i> الاعدادات</a></li>
                    <li><a class="dropdown-item" href="/AdminPanel/Auth/LogOut"><i class="fa fa-sign-out fa-lg"></i> خروج</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar d-none" src="" alt="User Image">
            <div>
                <p class="app-sidebar__user-name"></p>
                <p class="app-sidebar__user-designation">مسؤل فاست دو</p>
            </div>
        </div>
        <ul class="app-menu">
            <li>
                <a class="app-menu__item active" href="/AdminPanel">
                    <i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">الرئيسية</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="/AdminPanel/admins">
                    <i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">المسؤلين</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="/AdminPanel/pharmacies">
                    <i class="app-menu__icon fa fa-glass"></i><span class="app-menu__label">الصيدليات</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="/AdminPanel/stocks">
                    <i class="app-menu__icon fa fa-building"></i><span class="app-menu__label">المخازن</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="/AdminPanel/vstock">
                    <i class="app-menu__icon fa fa-building"></i><span class="app-menu__label">المخزن الافتراضى</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="/AdminPanel/lzDrugsReqs">
                    <i class="app-menu__icon fa fa-exchange"></i><span class="app-menu__label">طلبات الرواكد</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="/AdminPanel/TechSupport">
                    <i class="app-menu__icon fa fa-info-circle"></i><span class="app-menu__label">الدعم الفنى</span>
                </a>
            </li>
            <li class="treeview d-none">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">UI Elements</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="bootstrap-components.html"><i class="icon fa fa-circle-o"></i> Bootstrap Elements</a></li>
                    <li><a class="treeview-item" href="https://fontawesome.com/v4.7.0/icons/" target="_blank" rel="noopener"><i class="icon fa fa-circle-o"></i> Font Icons</a></li>
                    <li><a class="treeview-item" href="ui-cards.html"><i class="icon fa fa-circle-o"></i> Cards</a></li>
                    <li><a class="treeview-item" href="widgets.html"><i class="icon fa fa-circle-o"></i> Widgets</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    <main class="app-content">
        @RenderBody()
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="~/AdminRtl/js/jquery-3.2.1.min.js"></script>
    <script src="~/AdminRtl/js/popper.min.js"></script>
    <script src="~/AdminRtl/js/bootstrap.min.js"></script>

    <!-- The javascript plugin to display page loading on top-->
    <script src="~/AdminRtl/js/plugins/pace.min.js"></script>
    <script type="text/javascript" src="~/AdminRtl/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/AdminRtl/js/plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/AdminRtl/js/Scripts/Utiles.js"></script>
    <script>
        localStorage.setItem('uid', '@User.Claims.Single(c => c.Type =="UserId").Value');
        if (!localStorage.name)
            localStorage.setItem('name', '@User.Identity.Name');
        $('.app-sidebar__user-name').text( localStorage.name);
    </script>
    <script src="~/AdminRtl/js/dist/main.js"></script>
    @RenderSection("Scripts", false);
</body>
</html>